{% extends 'navbar.html' %}

{% block body %}

<br>
<br>


<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Assistant Doctor</h1>
  <p class="lead">Welcome to Smart Wellness Program.</p>
  <hr class="my-4">
  <p>You can access various features after Login/SignUp.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/assdoctorsignup" role="button">Apply</a>
    <a class="btn btn-primary btn-lg" href="/assdoctorlogin" role="button">Login</a>
  </p>
</div>

{% endblock body %}
